telethon
tgcrypto
requests
redis
opencv-python
pillow
moviepy
selenium
aiofiles
setuptools
PyGithub
bs4
yt-dlp
youtube-search-python
aiocron
wikipedia
googletrans==3.1.0a0
instagrapi
cairosvg
lottie
image_slicer
carbonnow
jdatetime